VimL: " $Id: cppunit-header.template 33 2008-02-19 01:26:11Z luc.hermitte $
VimL: "C++ TU Header File-Template, Luc Hermitte
VimL: let s:TUName = expand('%:t:r')

class Â¡s:TUNameÂ¡ : public CppUnit::TestFixture
{
    CPPUNIT_TEST_SUITE(Â¡s:TUNameÂ¡);
    CPPUNIT_TEST(Test_<+fct+>);
    CPPUNIT_TEST_SUITE_END();
public:
    void Test_<+fct+>();
};

