VimL:" $Id: c-file-header.template 33 2008-02-19 01:26:11Z luc.hermitte $
VimL:" Default File header - C/C++ Definition File-Template, Luc Hermitte
//========================================================================
/**@file	Â¡s:filenameÂ¡
 * @author	Â¡substitute(Author(0),'\r"','\r *','g')Â¡
 * @version	<+version+>
 * @date
 * 	Created:	Â¡DateStamp()Â¡ \n
 * 	Last Update:	Â¡DateStamp()Â¡
 */
/*------------------------------------------------------------------------
 * Description:	<+description+>
 * 
 *------------------------------------------------------------------------
 * History:	<+history+>
 * TODO:	<+missing features+>
 *========================================================================
 */
